<div id="js-simulator" class="Calculator__row hidden">
  <div id="js-simulations" class="Simulator">
    <div class="Simulator__col Simulator__headers">
      <div></div>
      <!-- <div>List</div> -->
      <div>Offer</div>
      <div>Assessment</div>
      <div>Difference</div>
      <div>Mortgage Down Payment</div>
      <div>Total Down Payment</div>
      <div>$ to Close</div>
      <div>% Close</div>
      <div>Mortgage Total</div>
      <div>Mortgage Monthly</div>
      <div>Est. Monthly Total</div>
    </div>
</div>
